.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
*~
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln
*.sw?
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
*.pyc
*.pyo
*.pyd
__pycache__/
__pycache__
*.egg
*.egg-info/
dist/
build/
*.log
.venv/
venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt
logs/
*.out
*.class
*.o
*.so
*.dll
*.exe
.coverage
.tox/
.nox/
.pytest_cache/
*.bak
*.tmp
*.temp
/secret_config/
/private_files/
.env
.env.local
.env.*.local
*.sqlite3
*.db
output/
tmp/
temp/
*.bak
htmlcov/
coverage.xml
.ipynb_checkpoints
.idea/

