streamlit 
requests
pandas
python-dotenv
pyyaml
langchain==0.3.25
langchain-groq
pydantic
langchain-core
langchain-community
duckduckgo-search
langchain-huggingface
sentence-transformers
# pinecone
langchain-pinecone
langgraph