streamlit 
requests
pandas
python-dotenv
pyyaml
langchain
langchain-groq
pydantic
duckduckgo-search
langchain-huggingface
sentence-transformers
pinecone
langchain-pinecone
langgraph
# langchain-core
# langchain-community